@use "_fonts.scss" as *;
@use "_variables.scss" as *;
@use "_mixins.scss" as *;

body {
    font-family: "avenir-regular";
    margin: 0;
  }
  
  .nav-bar {
    background-color: $primary-color-black;
    color: $primary-color-white;
    font-family: "avenir-regular";
    &__logo {
      display: flex;
      justify-content: center;
      padding-bottom: 1rem;
      &--image {
        max-width: 7.5rem;
        margin-top: 1rem;
        max-height: 1.25rem;
      }
    }
    &__list {
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;
      max-width: 100%;
      list-style-type: none;
      justify-content: center;
    }
    &__item {
      padding-bottom: 1rem;
      padding-left: 20vw;
      padding-right: 25vw;
      &--active {
        padding-bottom: 1rem;
        padding-right: 18vw;
        padding-left: 21vw;
        border-bottom: 0.125rem solid $primary-color-white;
      }
    }

    .active-link {
      text-decoration: none;
      color: $primary-color-white;
    }
  
    @include tablet {
      display: flex;
      &__logo {
        &--image {
          width: 100%;
          padding-left: 2rem;
          padding-top: 1rem;
          padding-bottom: 0.5rem;
        }
      }
      &__list {
        list-style-type: none;
        font-size: 1rem;
        justify-content: flex-start;
        padding-left: 4rem;
      }
      &__item {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
        &--active {
          border-bottom: 0.125rem solid $primary-color-white;
          padding: 0;
          padding-top: 2rem;
        }
      }
    }
    @include desktop {
      display: flex;
      &__logo {
        &--image {
          width: 100%;
          padding-left: 5rem;
        }
      }
      &__list {
        list-style-type: none;
        font-size: 0.8rem;
      }
    }
  }

.footer {
    background-color: $primary-color-black;
    font-family: "avenir-regular";
    color: $primary-color-white;
    padding-left: 1rem;
    font-size: 0.9rem;
    position: relative;
    &__sns-contacts {
      font-family: "avenir-demi";
      padding-top: 2rem;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    &__sns--socials {
      padding-right: 2rem;
      padding-left: 0.3rem;
      img {
        height: 2rem;
      }
    }
    &__ent--management {
      padding-bottom: 0.3rem;
      font-family: "avenir-demi";
    }
    &__ent--email {
      padding-top: 1rem;
    }
    p {
      margin: 0;
    }
    &__copyright {
      &--logo {
        font-size: 2rem;
        margin: 0;
      }
      img {
        padding-top: 3rem;
      }
      &--more {
        font-size: 0.8rem;
        padding-bottom: 4rem;
        padding-top: 0.5rem;
      }
    }
  
    @include tablet {
      padding-left: 4rem;
      padding-top: 2rem;
      h3 {
        margin: 0;
        padding-right: 2.5rem;
      }
      &__sns {
        display: flex;
        &--socials {
          padding-top: 2.7rem;
        }
        img {
          height: 1.3rem;
        }
      }
      &__section {
        display: flex;
        position: relative;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      &__ent {
        padding-right: 2rem;
      }
      &__copyright--logo {
        position: absolute;
        top: 7%;
        left: 75%;
      }
    }
  
    @include desktop {
      &__copyright--logo {
        position: absolute;
        top: 5%;
        left: 80%;
      }
    }
  }