@use "./partials/_fonts.scss" as *;
@use "./partials/_variables.scss" as *;

.body {
    font-family: 'avenir-regular';
}

.nav-bar {
    background-color: $primary-color-black;
    color: $primary-color-white;
    font-family: 'avenir-regular';

    &__logo--title {
        display: flex;
        justify-content: center;
        align-items: center;

        .nav-bar__image {
            margin-left: auto;
            margin-right: auto;
            width: 20%;
            margin-top: 1rem;
        }
    }

    .nav-bar__list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    position: relative;
    top: 0.5rem;
    padding: 0;
    margin: 0.3rem 0;
    list-style-type: none;
    padding-bottom: 1rem;
    }
}


.bandheader {
    background-image: url('/assets/images/hero-bio.jpg');
    background-size: cover; 
    padding: 5rem;
    &__title {
        font-family: 'avenir-demi';
        font-size: 2rem;
        color: $primary-color-white;
    }
}
    
    .about {
        font-family: 'avenir-demi';
        &__subtitle {
            font-size: 1.2rem;
            color: $primary-color-black;
        }

        &__quote {
            font-family: 'avenir-demi';
        }
        img {
            width: 100%;
        }
        &__content--bio {
            font-family: 'avenir-regular';
        }
    }
    
    .photos {
        display: flex;
        flex-wrap: wrap;
        &__title {
            font-family: 'avenir-demi';
        }
        img {
            max-width: 100%;
            height: auto;
            padding: 1rem;
        }
    }

    .footer {
        background-color: $primary-color-black;
        font-family: 'avenir-regular';
        color: $primary-color-white;
        padding-left: 1rem;
        &__contacts {
            font-family: 'avenir-demi';
            padding-top: 2rem;
            font-size: 2.5rem;
            margin-bottom: 1rem;
            &--socials {
                padding-right: 3rem;
                padding-left: 0.3rem;
                img {
                    height: 2rem;
                }
            }
        }
        &__management {
            padding-bottom: 0.3rem;
            font-family: 'avenir-demi';
        }
        &__email {
            padding: 0;
            margin: 0;
        }
        &__info {
            padding: 0;
            margin: 0;

        }
        
    }