@font-face {
  font-family: "avenir-regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "avenir-demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "avenir-bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
}
body {
  font-family: "avenir-regular";
  margin: 0;
}

.nav-bar {
  background-color: #323232;
  color: #FFFFFF;
  font-family: "avenir-regular";
}
.nav-bar__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
.nav-bar__logo--image {
  max-width: 7.5rem;
  margin-top: 1rem;
  max-height: 1.25rem;
}
.nav-bar__list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  max-width: 100%;
  list-style-type: none;
  justify-content: center;
}
.nav-bar__item {
  padding-bottom: 1rem;
  padding-left: 20vw;
  padding-right: 25vw;
}
.nav-bar__item--active {
  padding-bottom: 1rem;
  padding-right: 18vw;
  padding-left: 21vw;
  border-bottom: 0.125rem solid #FFFFFF;
}
.nav-bar .active-link {
  text-decoration: none;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav-bar {
    display: flex;
  }
  .nav-bar__logo--image {
    width: 100%;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .nav-bar__list {
    list-style-type: none;
    font-size: 1rem;
    justify-content: flex-start;
    padding-left: 4rem;
  }
  .nav-bar__item {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }
  .nav-bar__item--active {
    border-bottom: 0.125rem solid #FFFFFF;
    padding: 0;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar {
    display: flex;
  }
  .nav-bar__logo--image {
    width: 100%;
    padding-left: 5rem;
  }
  .nav-bar__list {
    list-style-type: none;
    font-size: 0.8rem;
  }
}

.footer {
  background-color: #323232;
  font-family: "avenir-regular";
  color: #FFFFFF;
  padding-left: 1rem;
  font-size: 0.9rem;
  position: relative;
}
.footer__sns--contacts {
  font-family: "avenir-demi";
  padding-top: 2rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.footer__sns--socials {
  padding-right: 2rem;
  padding-left: 0.3rem;
}
.footer__sns--socials img {
  height: 2rem;
}
.footer__ent--management {
  padding-bottom: 0.3rem;
  font-family: "avenir-demi";
}
.footer__ent--email {
  padding-top: 1rem;
}
.footer p {
  margin: 0;
}
.footer__copyright--logo {
  font-size: 2rem;
  margin: 0;
}
.footer__copyright img {
  padding-top: 3rem;
}
.footer__copyright--more {
  font-size: 0.8rem;
  padding-bottom: 4rem;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 4rem;
    padding-top: 2rem;
  }
  .footer h3 {
    margin: 0;
    padding-right: 2.5rem;
  }
  .footer__sns {
    display: flex;
  }
  .footer__sns--socials {
    padding-top: 2.7rem;
  }
  .footer__sns img {
    height: 1.3rem;
  }
  .footer__section {
    display: flex;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .footer__ent {
    padding-right: 2rem;
  }
  .footer__copyright--logo {
    position: absolute;
    top: 7%;
    left: 75%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright--logo {
    position: absolute;
    top: 5%;
    left: 80%;
  }
}

.bandheader {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/hero-shows.jpg");
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 1rem;
  padding-right: 2rem;
  opacity: 90%;
  color: #FFFFFF;
}
.bandheader__title {
  font-family: "avenir-demi";
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .bandheader {
    padding-top: 9rem;
    padding-bottom: 9rem;
    padding-left: 2rem;
  }
  .bandheader__title {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .bandheader {
    padding-bottom: 15rem;
  }
}

.shows {
  padding-left: 1rem;
  font-size: 2rem;
  font-family: "avenir-demi";
  margin-left: 1rem;
  margin-right: 1rem;
}
.shows__item {
  padding: 1rem;
  border-bottom: 1px solid #AFAFAF;
  padding-right: 1rem;
}
.shows__item__label {
  color: #AFAFAF;
  font-family: "avenir-demi";
  font-size: 0.8rem;
}
.shows__item__button {
  font-family: "avenir-demi";
  font-size: 1rem;
  background-color: #323232;
  color: #FFFFFF;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem;
  width: 100%;
}
.shows__item--selected {
  background-color: #E1E1E1;
}
.shows__item:hover {
  background-color: #FAFAFA;
}
.shows__item__text {
  color: #323232;
  font-family: "avenir-regular";
  font-size: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__item {
    display: flex;
    flex-direction: row;
  }
  .shows__item__label {
    margin-right: 1rem;
  }
  .shows__item__button {
    width: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: 2rem;
  }
  .shows__item__labels-container {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    padding-left: 3rem;
  }
  .shows__item__text {
    flex-direction: row;
    width: 10rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__item {
    display: flex;
    justify-content: flex-start;
    padding-left: 5rem;
    padding-top: 2rem;
  }
  .shows__item__text {
    width: 14rem;
  }
}

@media screen and (min-width: 1280px) {
  .shows-container {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .shows-list {
    margin-left: 5rem;
    padding-top: 2rem;
  }
}/*# sourceMappingURL=shows.css.map */